In [92]:
import pandas as pd

## Instructions
1. Do not import any other library. 
2. This assignment primarily focuses on getting a hands on practise for pandas library.
3. You have to use the 
 <a href="https://drive.google.com/file/d/1uLqrgjqF0143NQjPlRGWqZRmW6FYBy_N/view?usp=sharing">alcohol_data.csv</a>
alochol_data.csv for this assignment.
4. Do not modify the variables name. We have defined the assert function which will return True if you have written the queries correctly and the variables name are not changed.
5. Do not modify anything in the grader function.
6. Go through these resources in order ro learn and practise pandas operations : <a href="https://www.w3resource.com/python-exercises/pandas/index-dataframe.php">Resource 1 </a> , <a href="https://www.tutorialspoint.com/python_pandas/index.htm">Resource 2 </a>
6. You can also read the documentation of all pandas functions from this <a href="https://pandas.pydata.org/docs/getting_started/tutorials.html">Link </a>

#### <b> <font color='red'> Que 1 - Reading the csv file </b>   -> Read the alcohol_data.csv file and store it in a dataframe </font>

In [93]:
#Please make sure that you define the dataframe name as alcohol_df
alcohol_df =pd.read_csv("alcohol_data.csv")

In [94]:
def assert_1(df):
  assert(len(df)==193)
  print("ASEERT 1 passed")
assert_1(alcohol_df)

ASEERT 1 passed

In [95]:
#printing the first 5 rows of alcohol_data
#you can have a glimpse of the dataset you are dealing with
#head function will print first 5 rows and the corresponding values
alcohol_df.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Algeria,25,0,14,0.7,AF
1,Angola,217,57,45,5.9,AF
2,Benin,34,4,13,1.1,AF
3,Botswana,173,35,35,5.4,AF
4,Burkina Faso,25,7,7,4.3,AF

#### <b> <font color='red'> Que 2 - Getting columns of the dataframe </b>   -> Write a query to get all the columns of the dataframe and store it in a list named as columns_list </font>

If you write your query correctly you'll get </br>
columns_list = ['country', 'beer_servings', 'spirit_servings', 'wine_servings', 'total_litres_of_pure_alcohol', 'continent']

In [96]:
columns_list = alcohol_df.columns.tolist()

In [97]:
def assert_2(col_list):
  assert(len(col_list)==6)
  assert(type(col_list)==list)
  print("ASEERT 2 passed")
assert_2(columns_list)

ASEERT 2 passed

#### <b> <font color='red'> Que 3 - Getting unique values from continent </b>   -> Write a query to fetch all the unique continent names from column continent and store it in a list </font>

Example - continents_list = ['AF', 'AS', 'EU', 'A', 'OC', 'SA']

In [98]:
continents_list = alcohol_df['continent'].unique().tolist()

In [99]:
def assert_3(con_list):
  assert(type(con_list)==list)
  assert(len(con_list)==6)
  assert('AF' in con_list and 'OC' in con_list)
  print("ASEERT 3 passed")
assert_3(continents_list)

ASEERT 3 passed

#### <b> <font color='red'> Que 4 - Getting the max value of beer servings </b>   -> Write a query to get the maximum value of beer_servings from the table and store it in max_beer_servings table </font>

In [100]:
max_beer_servings= alcohol_df['beer_servings'].max()

In [101]:
def assert_4(max_beer_servings):
  assert(max_beer_servings==376)
  print("ASEERT 4 passed")
assert_4(max_beer_servings)

ASEERT 4 passed

#### <b> <font color='red'> Que 5 - Getting the subset of data  </b>  -> Write a query to fetch all the rows where wine_servings is more than 30 and store it in a variable named wine_servings_30</font>


<br> <b>  Example - If you write your query correctly then you'll get a dataframe with 64 rows</b> </br>

In [102]:
wine_servings_30= wine_servings_30 = alcohol_df[alcohol_df['wine_servings'] > 30]

In [103]:
def assert_5(df):
  assert(len(df)==64)
  print("ASEERT 5 passed")
assert_5(wine_servings_30)

ASEERT 5 passed

#### <b> <font color='red'> Que 6 - Getting subset of data with multiple conditions - </b> Write a query to fetch all rows where beer_servings is greater than 100 and are in Asia continet(AS) and store it in varible named df_6</font>  
<font color='red'> 
<font color='red'>

In [104]:
df_6= alcohol_df[(alcohol_df['beer_servings'] > 100) & (alcohol_df['continent'] == 'AS')]

In [105]:
def assert_6(df):
  assert(len(df)==4)
  print("ASEERT 6 passed")
assert_6(df_6)

ASEERT 6 passed

#### <b> <font color='red'> Que 7 - Sorting the dataframe - </b> Write a query to sort the dataframe by spirits serving and find 5 countries that have <br>
- the highest spirit_servings
- the least spirit_servings </font>

In [122]:
#there is no grader function for this query
#add a markdown cell and write the name of required
#write your CODE below
sorted_data = alcohol_df.sort_values(by='spirit_servings', ascending=False)
highest = sorted_data.head(5)
print("The highest spirit_servings\n",highest)
least = sorted_data.tail(5)
print("\nThe least spirit_servings\n",least)

The highest spirit_servings
          country  beer_servings  spirit_servings  wine_servings  \
152      Grenada            199              438             28
102      Belarus            142              373             42
154        Haiti              1              326              1
83   beer_nation            247              326             73
161    St. Lucia            171              315             71

     total_litres_of_pure_alcohol continent  total_servings
152                          11.9         A             665
102                          14.4        EU             557
154                           5.9         A             328
83                           11.5        AS             646
161                          10.1         A             557

The least spirit_servings
       country  beer_servings  spirit_servings  wine_servings  \
71       Laos             62                0            123
74   Maldives              0                0              0
79   Pakistan              0                0              0
124    Monaco              0                0              0
96      Yemen              6                0              0

     total_litres_of_pure_alcohol continent  total_servings
71                            6.2        AS             185
74                            0.0        AS               0
79                            0.0        AS               0
124                           0.0        EU               0
96                            0.1        AS               6

#### <b> <font color='red'> Que 8 - Group by - Write a query to fetch the total numer of beer_servings for each continent </font>  </b>



<br> <b>  Hint - You'll get the value for Asia Continent = 1630 </b> </br>

In [107]:
continent_df_1 = alcohol_df.groupby('continent').agg({
    'beer_servings' : 'sum'
})

In [108]:
def assert_8(df):
  assert(len(df)==6)
  assert(df.loc['AS']['beer_servings']==1630)
  print("ASEERT 8 passed")
assert_8(continent_df_1)

ASEERT 8 passed

#### <b> <font color='red'> Que 9 - Adding a new column </b> </br> Create a new column in the dataframe alcohol_df called total_servings which is the sum of beer_servings, spirit_servings, wine_servings </font>

In [109]:
#add a new column in the dataframe
alcohol_df['total_servings'] = alcohol_df['beer_servings'] + alcohol_df['spirit_servings'] + alcohol_df['wine_servings']

In [110]:
def assert_9 (df):
  assert('total_servings' in list(df.columns))
  assert(df.loc[0]['total_servings']==39)
  print("ASSERT 9 passed")
assert_9(alcohol_df)

ASSERT 9 passed

#### <b> <font color='red'> Que 10- Replacing values - </b></br> For countries that drink more than 200 servings of beer, change their (country names) names to "beer_nation" in alcohol_df dataframe</font>

In [111]:
#write code below
alcohol_df.loc[alcohol_df['beer_servings'] > 200, 'country'] = 'beer_nation'

In [112]:
def assert_10(df):
  assert(df[df['beer_servings']>200]['country'].nunique()==1)
  print("Assert 10 passed")
assert_10(alcohol_df)

Assert 10 passed


#### <b> <font color='red'> Que 11- Save the data frame as an Excel file with name updated_drinks_excel </font>  </b>

In [113]:
#save your dataframe alcohol_df in excel format
csv = pd.read_csv('alcohol_data.csv')
excelWriter = pd.ExcelWriter('updated_drinks_excel.xlsx')
csv.to_excel(excelWriter)
excelWriter.save()

#<b> END OF ASSIGNMENT <b>